li div
{
    float: left;

}

.filter_email
{
    margin-left: 47px;
}

.filter_extension
{
    margin-left: 28px;
}

li.name
{
    margin-left: 24px;
    height: 15px;
}

.email
{
    width: 100px;
}

.file
{
    width: 160px;
}

.increment
{
    background: url("../images/increment.png") no-repeat 0px 0px;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.decrement
{
    background: url("../images/decrement.png") no-repeat 0px 0px;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.value
{
    width: 40px;
    text-align: center;
}