div
{
	margin-bottom: 20px;
	padding: 20px;
}

.email
{
    margin-left: 75px;
}

.pass
{
    margin-left: 51px;
}

p
{
    color: #3B5998;
	margin-bottom: 8px;
	margin-left: 112px;
}