video
{
    width: 400px;
    margin-left: 10px;
    margin-bottom: 10px;
}

audio
{
    width: 400px;
    margin-left: 10px;
}

.play
{
    width: 25px;
    height: 25px;
    float: left;
    background: url("../images/play.jpg") no-repeat;
    margin-left: 150px;
}

.pause
{
    width: 25px;
    height: 25px;
    float: left;
    background: url("../images/pause.jpg") no-repeat;
    margin-left: 50px;
}