.slide_show
{
    height: 400px;
    margin: auto;
    background: no-repeat;
    background-size: 100%;
    position: relative;
    text-align:center;
    overflow: hidden;
}

img
{
    max-width: 400px;
    max-height: 400px;
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity: 1.0;
}

#next
{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 175px;
    left: 300px;
    background: white;
    background: url('../images/next.jpg');
    background-size: 100%;
    display: none;
    opacity: 1.0;
}

#prev
{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 175px;
    left: 100px;
    background: url('../images/prev.jpg');
    background-size: 100%;
    display: none;
}

.show 
{
    z-index:500;
}