*
{
    margin: 0;
	padding: 0;
}

body
{
    background-color: #FFFFFF;
}

.main_block
{
    width: 928px;
	height: 62px;
    margin: auto;
}

.main_list
{  
    list-style-type: none;
    font-family: Arial;
	font-size: 18px;	
	color: #6B6B6B; 	
	margin-top: 18px;
	width: 928px;
    height: 42px;	
    border-top: 1px solid #ABABAB;
	border-bottom: 1px solid #ABABAB;	
    position: relative;
}

.main_element 
{
	padding-top: 10px;
	margin: 0px 10px 0px 70px;
	float: left;
}

.clear
{
   clear: both;
}

#menu_home
{
}

#menu_products
{    
}

li
{
    margin-bottom: 5px;
}

#block_home
{    
    width: 85px;
    border: 1px solid #ABABAB;
    position: absolute;
    top: 42px;
    left: 45px;
    list-style-type: none;
    margin: 0px;
    padding: 10px; 
    display: none;
}

#block_products
{    
    width: 115px;
    border: 1px solid #ABABAB;
    position: absolute;
    top: 42px;
    left: 185px;
    list-style-type: none;
    margin: 0px;
    padding: 10px 10px 10px 30px;
    display: none;
}