<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/plain; charset=utf-8" />
    <title>{$title}</title>
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/{$css}.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <ul class="header_menu">
          <li class="header_menu_item">
            <a class ="undecorated" href="/uploadfiles.php">Upload files</a>
          </li>
	      <li class="header_menu_item">
            <a class ="undecorated" href="/filterfiles.php">Show files</a>
          </li>
          <li class="header_menu_item">
            <a class ="undecorated" href="/userlist.php">All users</a>
          </li>
          <li class="header_menu_item">
            <a class ="undecorated" href="/formlogin.php">Log In</a>
          </li>
          <li>          
            <a class ="undecorated" href="/formsignup.php">Sign Up</a>
          </li>
          <div class="clear"></div>
        </ul>
      </div>    