p
{
    font-family: Tahoma;
	font-size: 15px;
    margin-left: 50px;
}

input
{
    width: 262px;
    height: 30px;
	margin-bottom: 4px;
	border: 1px solid #9AAFCA;
}

.name
{
    margin-left: 45px;
}

.file
{
    margin-left: 22px;
}