*
{
    margin: 0;
	padding: 0;
}

body
{
    background-color: #FFFFFF;
}

h1
{
    font-size: 18px;
	margin-bottom: 5px;
}

.header
{
	padding: 0px 0px 11px 11px;
	margin-bottom: 10px;
	font-size: 15px;
}


.container
{
    width: 380px;
	background: #FDFEFE;
    background: -webkit-linear-gradient(top, #FDFEFE 0%,#EBEEF5 50%,#EBEEF5 51%,#DEE2EE 100%);
    padding: 20px 12px 20px 7px;
}

.main_block
{		
	font-family: Tahoma;
	font-size: 12px;
	padding: 0px;
    margin: 0px;
}

.button
{
    background-color: #6EA954;
	color: #FFFFFF;
	width: 111px;
    height: 30px;
	border: 1px solid #3B6E22;
	font-family: Tahoma;
	margin-left: 110px;
}