<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="applicationAddress" value="http://localhost:8086/" />
    <add key="middlewareAddress" value="http://localhost:8084/api/application/" />
    <add key="appName" value="Client1" />
  </appSettings>
</configuration>